* {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico', cursive;
}

p {
    font-weight: 100;
}

img {
    filter: drop-shadow(8px 8px 10px gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: black;
    display: flex;
    column-count: 3;
    position: relative;
}

.logo {
    width: 25%;
    /*    margin: 10px 5px 10px 10px;*/
}

.logo h1 {
    margin: 2% 0%;
    padding: 2% 0%;
    color: white;
    font-family: cursive;
    display: inline;
}

.logo h1::first-letter {
    color: #FF7300;
}

.logo span {
    color: #FF7300;
    font-size: 32px;
    font-weight: 800;
    font-family: cursive;
}

.navbar {
    width: 40%;
}

.navbutton {
    display: none;

}

.navbar img {
    filter: none ;
}


.navbar ul {
    margin: 3% 1%;
    list-style: none;

}

.navbar ul li {
    display: inline;
    margin: 2% 0px;
    /* padding: 2% 2% ; */
}

.navbar ul li a {
    text-decoration: none;
    padding: 3% 2% 4% 2%;
    text-transform: uppercase;
    color: white;
}

.navbar ul li a:hover {
    color: #FF7300;
    transition-duration: 300ms;

    font-size: 18px;
}


@media(max-width:600px) {
    .navbar ul li {
        display: none;
    }
    .navbar a {
        display: block;
        position: absolute;
        right: 10px;
    }
    .navbar a:target ul li {
        display: block;
    }

    .navbar ul,
    .navbar:active ul {
        display: none;
        z-index: 10;
        position: absolute;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        right: 20px;
        top: 60px;
        border: 3px solid grey;
        /*        border-right: 10px 0 5px 5px;*/
        width: 100%;

    }

    .navbar ul {
        /*    transform: translateY(100px) ;*/
    }

    .navbar ul li a {
        text-align: center;
        width: 100%;
    }


    .navbar ul li {
        text-align: center;
        width: 100%;
        height: 20px;
        /*          border: 2px solid grey ;*/
        padding: 10px 0;
        display: block;

    }

    .navbar:hover ul {
        display: block;
        position: absolute;
        top: 40px;
        width: 75%;
        text-align: center;
    }

}


.search input[type="text"] {
    height: 30px;
    width: 230px;
    margin: 15px 0px 0px 0px;
}

.search a {
    text-decoration: none;
    0 color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 7px 15px 8px 12px;
    margin-left: -2px;
    background-color: #FF7300;

}


@media (max-width:1200px) {
    .banner .text {
        position: absolute !important;
        top: 40% !important;
        left: 3% !important;
    }
}


@media(max-width:600px) {
    #header .logo {
        width: 35% !important;
    }

    .logo h1,
    span {
        font-size: 20px !important;

    }
    .navbar {
        width: 80% !important;
    }
    .banner #slider {
        height: 450px !important;
    }
}


@media (max-width:980px) {
    .logo {
        width: 25% !important;
    }
    .banner .text {
        position: absolute !important;
        top: 35% !important;
        left: 0% !important;
    }
    #slider {
        height: 600px !important;
    }

    .banner .text h3 {
        font-size: 40px !important;
    }

    .banner .text h1 {
        font-size: 50px !important;
    }
    .logo {
        width: 35%;
        margin: 0px;
    }

    .navbar {
        width: 70%;
    }

    .search input[type="text"] {
        display: none;
    }
    .search a {
        display: none;
    }

    .row .col-1,
    .col-2 {
        margin: 2% 1%;
        width: 90% !important;
    }


}


@media(max-width:600px) {
    #header .logo {
        margin: 3% 0px;
        width: 45% !important;
    }

}

.banner {
    position: relative;
}

#slider {
    height: 750px;
    background-size: 100% 100%;
    animation: slider 15s infinite;
}

@keyframes slider {
    0%,
    20% {
        background-image: url("../images/img1.jpg");
    }
    35%,
    50% {
        background-image: url("../images/img3.jpg");
    }
    55%,
    85% {
        background-image: url("../images/img2.jpg");
    }
    100% {
        background-image: url("../images/img1.jpg");
    }
}

.banner .text {
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
    text-align: center;
    opacity: 0.9;
}

.banner .text h3 {
    font-size: 60px;
    color: #FF7300;
    text-align: center;
}

.banner .text h1 {
    font-size: 70px;
    color: white;
    margin: 10px 0px;
}

.banner .text p {
    color: #FF7300;
    font-size: 20px;
    margin: 10px 0px;
}

.banner .text span {
    background-color: #FF7300;
}

.row {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-1 {
    width: 35%;
}

.imageslider {
    /*    border: 2px solid #FF7300;*/
    width: 100%;
    border-bottom: none;
    overflow: hidden;
}

.carosel {
    width: 500%;
    animation: slides 20s infinite;
}

.carosel .slide {
    display: inline-block;
    margin: 0px -2px;
    width: 20%;
}

.imageslider img {
    width: 100%;
    height: 350px;

}


@media(max-width:400px) {

    .carosel .slide {
        display: inline-block;
        margin: 0px -1px 0px -1px !important;
        width: 19.9% !important;
    }

}

@keyframes slides {
    0%,
    15% {
        transform: translateX(0%);
    }
    20%,
    35% {
        transform: translateX(-20%);
    }
    40%,
    60% {
        transform: translateX(-40%);
    }
    65%,
    80% {
        transform: translateX(-60%);
    }
    85%,
    100% {
        transform: translateX(-80%);
    }

}



.mini-carosel {
    width: 500%;
    animation: minislides 20s infinite;
}

.mini-carosel .mini-slide {
    display: inline-block;
    margin: -3px -3px -3px -3px;
    width: 7%;
    /*    border: 2px solid #FF7300;*/
}

.mini-slide img {
    width: 100%;
    height: 160px;
}


@keyframes minislides {
    0%,
    15% {
        transform: translateX(0%);
    }
    20%,
    35% {
        transform: translateX(-7%);
    }
    40%,
    60% {
        transform: translateX(-14%);
    }
    65%,
    80% {
        transform: translateX(-21%);
    }
    85%,
    95% {
        transform: translateX(-28%);
    }

}

/*services section css starteed */

.service {
    padding: 3% 0px 0px 0px;
    margin: 5% 0px 0px 0px;
    background-color: #F5F4F4;
}

.service h1 {
    text-align: center;
    font-size: 42px;
    margin: 1% 2%;
}

.service p {
    text-align: center;
    margin: 2%;
    line-height: 26px;
}


.col-2 {
    margin: 0px 0px 0px 3%;
    width: 50%;
}

.col-2 h3 {
    margin: 0px 0px 2% 0px;
    font-size: 32px;
}

.col-2 p {
    font-size: 20px;
    line-height: 32px;
    font-size: 18px;
    word-spacing: 3px;
}

.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:980px) {
    .two .col-left {
        width: 90%;
    }
    .two .col-right {
        width: 90%;
    }
}

.two h3 {
    font-size: 32px;
}

.two p {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    border-left: 4px solid orange;
    padding-left: 3%;
    margin: 2% 1%;
}

.col-left {
    width: 40%;
    margin-right: 2%;
}

.col-left img {
    width: 90%;
    margin: 10px;
    filter: drop-shadow(8px 8px 10px gray);
}

.col-right {
    width: 40%;
}


.event {

    margin: 2% 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width:980px) {
    .event .col {
        width: 50% !important;
    }
}

@media (max-width:400px) {
    .event .col {
        width: 90% !important;
    }
}

.event .col {
    width: 25%;
    position: relative;
}

.event .col img {
    width: 90%;
    margin: 10px;
    filter: drop-shadow(8px 8px 10px gray);
}

.event .text {
    top: 10%;
    left: 5%;
    position: absolute;
}

.event .text span {
    background-color: #FF7300;
    padding: 2% 5%;
}

.event .text p {
    font-size: 28px;
}


.gallary h1 {
    text-align: center;
    font-size: 50px;
    margin: 3% 0%;
    position: relative;
    letter-spacing: 2px;
}

.our::after,
.our::before {
    position: absolute;
    background: #ff7300;
    height: 2px;
    content: '';
}

.our::before {
    width: 11%;
    top: 100%;
    left: 44.5%;
}

.our::after {
    width: 18%;
    right: 41%;
    top: 120%;
}

.gallary-section .row-gallary {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:600px) {
    .gallary-section .row-gallary .col-gallary {
        width: 40% !important;
        font-size: 12px !important;
        line-height: -25px !important;
    }


    .gallary-section .row-gallary .col-gallary:last-child {
        display: none !important;

    }

    .gallary-section .row-gallary .col-gallary:hover {
        border: 6px solid #E0E0E0;
        color: black;
        text-shadow: 1px 1px 2px #e6d6d6;
        line-height: 300px !important;
        box-shadow: 0px 0px 10px 7px #FFFFFF;
        opacity: 0.8;
    }

}

@media (max-width:400px) {
    .gallary-section .row-gallary .col-gallary {
        width: 90% !important;
        font-size: 16px !important;
        line-height: -25px !important;
    }


    .gallary-section .row-gallary .col-gallary:last-child {
        display: none !important;

    }

    .gallary-section .row-gallary .col-gallary:hover {
        border: 6px solid #E0E0E0;
        color: black;
        text-shadow: 1px 1px 2px #e6d6d6;
        line-height: 250px !important;
        box-shadow: 0px 0px 10px 7px #FFFFFF;
        opacity: 0.7;
    }

}




.gallary-section .row-gallary .col-gallary {
    width: 27%;
    margin: 1% 2%;
    border: 5px solid #FFFFFF;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px #333333;
    transition-duration: 0.5s;
    line-height: 1px;
    transition-timing-function: ease-in;
}

.gallary-section .row-gallary .col-gallary:hover {
    border: 6px solid #E0E0E0;
    color: black;
    text-shadow: 1px 1px 2px #e6d6d6;
    line-height: 300px;
    box-shadow: 0px 0px 10px 7px #FFFFFF;
    opacity: 0.8;
}


.gallary-section .row-gallary img {
    display: block;
    width: 100%;
}

.gallary-section .row-gallary .col-gallary .fashion {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 3em;
    width: 100%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5% 5%;
}

@media (max-width:600px) {
    .col2 {
        width: 45% !important;
    }
}

.col2 {
    width: 20%;
    position: relative;
}

.row2 .col2 .overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition-duration: 1s;
    transition-timing-function: ease;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(244, 67, 54, 1) 100%);

}

.row2 .col2 img {
    width: 100%;
}

.row2 .col2 .overlay:hover {
    transform: scaleX(0) scaleY(0);

}

.team {
    background-image: url(../images/img3.jpg);
    padding: 2% 1%;
    background-attachment: fixed;
}

.team h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 2% 3% 5% 2%;
}

.team h3 {
    text-align: center;
    color: #FF7300;
    font-size: 30px;
    margin: 1%;

}

.team p {
    color: white;
    font-size: 20px;
    margin: 3%;
    text-align: center;
}

.row3 {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:600px) {
    .row3 .form {
        width: 90% !important;
    }
    .row3 .formimage {
        display: none;
    }

}

.row3 .col3 {
    justify-content: space-around;

}

.row3 .form {
    width: 40%;
}

.form table {
    width: 100%;
}

.form .formimage .man-image {
    width: 100%;

}

.row3 .formimage {
    width: 30%;
}

.col3 form {
    margin: 10% 0% 5% 15%;
}

.col3 form input {
    width: 100%;
    margin: 1% 2%;
    height: 35px;
}

.col3 form textarea {
    width: 100%;
    margin: 1% 2%;
}

@media(max-width:400px) {

    .col3 form textarea {
        height: 10%;
    }

}

.col3 form input[type="submit"] {
    color: white;
    background-color: black;
}

.col3 form input[type="submit"]:hover {
    color: black;
    font-weight: 700;
    background-color: white;
}


.subscribe {
    text-align: center;
    margin: 2%;
    padding: 2%;
    color: white;
    background-image: url(../images/img2.jpg);
    background-attachment: fixed;
    padding: 5% 2%;
}

.subscribe h1 {
    font-size: 50px;
    margin: 1% 2% 2% 1%;
    padding-top: 3%;
}

.subscribe p {
    font-size: 18px;
    margin: 2%;
}

@media(max-width:400px) {
    .subscribe h1 {
        font-size: 30px;
        margin: 1% 2% 2% 1%;
        padding-top: 1%;
    }
    .subscribe p {
        font-size: 14px;
        margin: 1%;
    }
}


.subscribe input[type="text"] {
    width: 50%;
    height: 35px;
}

.subscribe input[type="submit"] {
    width: 25%;
    height: 40px;
    margin: 1%;
    color: white;
    border-radius: 5%;
    background-color: black;
}

.subscribe input[type="submit"]:hover {
    color: black;
    background-color: white;
    font-weight: 700;
}

.footer {
    background-image: url(../images/img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 3% 0px 1% 0px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: white;
}

@media (max-width:600px) {
    .row .col {
        width: 50% !important;
    }
    .footer .row .col ul {
        margin-left: 5%;
    }

}

@media (max-width:400px) {
    .row .col {
        width: 95% !important;
    }
    .col-2 p {
        font-size: 14px;
        line-height: 20px;
        word-spacing: 2px;
    }

    .footer .row .col ul {
        margin-left: 0%;
    }

}


@media (max-width:400px) {
    .row2 .col2 {
        width: 95% !important;
    }
    .footer .row .col {
        width: 95% !important;
    }

    marquee {
        margin: 2% 0px !important;
    }

}


.footer .row h1 {
    color: #FF7300;
    margin: 2% 3%;
    font-size: 36px;
}

.footer .row p {
    font-size: 18px;
    margin: 1% 2%;

}

.footer .row .col {
    width: 33%;
}

.footer .row .col ul {
    list-style: none;

}

.footer .row .col ul li {
    display: block;
}

.footer .row .col ul li a {
    text-decoration: none;
    /*    width: 70%;*/
    margin-top: 2%;
    padding-top: 2%;
    height: 40px;
    font-size: 26px;
    border: 1px solid white;
    color: white;
    display: block;
}

.footer marquee {
    color: white;
    margin-bottom: -1%;
}

.footer .row .col ul li a:hover {
    color: black;
    background-color: white;
}