*{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6{
margin: 0px;
padding: 0px;
}

#header{
    background-color: black ;
    display: flex ;
    column-count: 3 ;
}

.logo{
width: 20% ;
margin: 10px 5px 10px 10px ;
}
.logo h1{
    margin: 2% 0% ;
    padding: 2% 0% ;
    color: white ;
    font-family: cursive ;
    display: inline ;
}
.logo h1::first-letter{
    color:#FF7300 ;
}

.logo span{
    color: #FF7300 ;
    font-size: 32px;
    font-weight: 800 ;
    font-family: cursive ;
}

.navbar{
    width: 50% ;
}
.navbar ul {
    margin: 3% 1% ;
    list-style: none ;

}
.navbar ul li{
display: inline ;
margin: 2% 0px ;
/* padding: 2% 2% ; */
}

.navbar ul li a{
    text-decoration: none ;
    padding: 3% 2% 4% 2%;
    text-transform: uppercase ;
    color: white ;
}

.navbar ul li a:hover{
    color: #FF7300 ;
    transition-duration: 0.5s ;
    
    font-size: 20px;
}

.search input[type="text"]{
    height: 30px;
    width:230px ;
    margin: 15px 0px 0px 0px ;
}

.search a{
    text-decoration: none ;
    color: white ;
    font-weight: bold ;
    font-size: 16px;
    padding: 7px 15px 8px 12px ;
    margin-left: -2px;
    background-color: #FF7300 ;
}

.banner{
    position:  relative ;
}

#slider {
    height: 550px;
    background-size:100% 100%  ;
    animation: slider 10s infinite;
}
@keyframes slider {
    0%,25% {     
        background-image: url("../images/img1.jpg");
    }
    30%,40% {
        background-image: url("../images/img3.jpg");
    }
    55%,80% {
        background-image: url("../images/img2.jpg");
    }
    100% {
        background-image: url("../images/img1.jpg");
    }
}

.banner .text {
    position: absolute;
    top: 40% ;
    left: 10% ;
    color: white ;
    text-align: center ;
    opacity: 0.9 ;
}
.banner .text h3 {
    font-size: 60px;
    color: #FF7300 ;
    text-align: center ;
}

.banner .text h1 {
    font-size: 70px;
    color: white ;
    margin: 10px 0px ;
}

.banner .text p {
    color: #FF7300 ;
    font-size: 20px;
    margin: 10px 0px ;
}

.banner .text span{
    background-color: #FF7300 ;
}

.row {
    margin: 30px 0px 0px 0px ;
    display: flex ;
    justify-content:center ;
}

.col-1{
    width: 30% ;
}

.imageslider{
    border: 2px solid #FF7300 ;
    width: 100%  ;
    border-bottom: none ;
    overflow: hidden ;
}

.carosel{
    width: 500% ;
    animation: slides 20s infinite ;
}

.carosel .slide{
    display: inline-block;
    margin: 0px -2px;
    width: 20% ;
}

.imageslider img{
    width: 100% ;
    height: 350px ;
}


@keyframes slides {
    0%,15% {
        transform: translateX(0%) ;
    }
    20% ,35%{    
        transform: translateX(-20%) ;
        }
    40% ,60%  {
        transform: translateX(-40%) ;
        }
    65% , 80% {
        transform: translateX(-60%) ;
        }
    85% ,100% {
        transform: translateX(-80%) ;
        }

}



.mini-carosel{
    width: 500% ;
    animation: minislides 20s infinite ;
}

.mini-carosel .mini-slide{
    display: inline-block;
    margin: -3px -3px -5px -5px ;
    width: 7% ;
    border: 2px solid #FF7300 ;
}

.mini-slide img{
    width: 100% ;
    height: 160px;
}


@keyframes minislides {
    0%,15% {
        transform: translateX(0%) ;
    }
    20% ,35%{    
        transform: translateX(-7%) ;
        }
    40% ,60%  {
        transform: translateX(-14%) ;
        }
    65% , 80% {
        transform: translateX(-21%) ;
        }
    85% ,95% {
        transform: translateX(-28%) ;
        }
    
}

/*services section css starteed */

.service {
    padding: 3% 0px 0px 0px ;
    margin: 5% 0px 0px 0px ;
    background-color: #F5F4F4 ;
}

.service h1{
    text-align: center ;
    font-size: 42px ;
    margin: 1% 2% ;
}

.service p{
    text-align: center ;
    margin:2%;
    line-height: 26px;
}


.col-2{
    margin: 0px 0px 0px 3% ;
    width: 50%  ;
}

.col-2 h3{
    margin: 0px 0px 2% 0px ;
    font-size: 32px ;
}

.col-2 p {
    font-size: 20px ;
    line-height:32px ;
    font-size: 18px;
    word-spacing: 3px;
}

.two{
    display: flex ;
    justify-content: center;
}

.two h3{
    font-size: 32px ;
}

.two p{
    font-size: 16px;
    line-height: 26px ;
    text-align: left ;
    border-left: 4px solid orange ;
    padding-left: 3% ;
    margin: 2% 1% ;
}

.col-left {
    width: 40% ;
    margin-right: 2% ;
}
.col-left img{
    width: 100% ;
}

.col-right{
    width: 40% ;
}



.event {
    
    margin: 2% 0px ;
    display: flex ;
}

.event .col {
    width: 25% ;
    position: relative ;
}

.event .col img {
    width: 100% ;
    height: 350px ;
}

.event .text{
    top: 10%;
    left: 5% ;
    position: absolute ;
}

.event .text span{
    background-color:#FF7300 ;
    padding: 2% 5%  ;
}

.event .text p {
    font-size: 28px;
    
}